@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --text-color-main: #27272a;
  --marg-padd-gap-small: 1rem;
  --marg-padd-gap-large: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "JetBrains Mono", monospace;
  color: var(--text-color-main);
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;

  background-color: rgb(211, 211, 211, 0.4);
}
}
